---
import Form from "../components/Form"
import Hero from "../components/Hero"
const secret = import.meta.env.SECRET_PASSWORD
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Izrada web stranica, Web Life Support, by Fran Branković"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Web Life Support</title>
  </head>

  <body>
    <div class="min-h-screen flex flex-col justify-center items-center">
      <h1
        class="text-5xl tracking-wider mb-8 text-[#EABA09] py-10 px-5 text-center"
      >
        Web Life Support
      </h1>
      <div class="w-full flex-1">
        <Hero />
        <Form secret={secret} client:load />
      </div>
      <p class="py-5 px-10">Made by: Fran Branković</p>
    </div>
  </body>
</html>
