<section
  class="flex flex-col lg:flex-row md:px-8 md:pb-10 xl:pb-20 justify-center items-center gap-20 md:gap-5 h-1/2 bg-white w-full pt-16 lg:pt-8"
>
  <div class="flex flex-col px-5 mt-10 gap-7 max-w-[1000px]">
    <h1
      class="text-3xl/tight text-center sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold"
    >
      Idealno mjesto za izradu
      <span
        class="block text-transparent bg-clip-text bg-gradient-to-r from-yellow-900 from-20% via-themeColor via-45% to-yellow-800"
        >Web stranica</span
      >
    </h1>
    <p class="text-center leading-7">
      Dobrodošli u našu malu obiteljsku web podršku za sve one koji žele postati
      dio weba, gdje svaki projekt doživljavamo s posebnom pažnjom i pomažemo
      Vam otvoriti vrata u svijet interneta.
      <br />
      Stavljamo poseban naglasak na jednostavnost.
    </p>
    <a
      href="#kontakt"
      class="self-center px-6 py-3 bg-transparent hover:bg-themeColor text-themeColor font-semibold hover:text-white border border-themeColor hover:border-transparent rounded tracking-wider"
      >Kontakt</a
    >
  </div>

  <img
    src="/hero.svg"
    alt=""
    class="max-w-xl w-60 sm:w-80 lg:w-96 2xl:w-full mt-4 lg:mt-8 mx-8 pb-10 lg:pb-0"
  />
</section>
