<header class="flex justify-between gap-2 container items-center mx-auto px-4">
  <span
    class="text-lg sm:text-3xl xl:text-5xl tracking-wider text-themeColor py-10 px-5 text-center"
  >
    Web Life Support
  </span>
  <a
    href="#kontakt"
    class="px-6 py-3 bg-transparent hover:bg-themeColor text-themeColor font-semibold hover:text-white border border-themeColor hover:border-transparent rounded tracking-wider"
    >Kontakt</a
  >
</header>
